/* card.css */
/* Контейнер для карточек */
.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.movie-actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

/* Кнопка "Добавить фильм" */
.btn-add {
  margin: 5px;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background: var(--btn-primary-bg);
  color: var(--text-main);
  transition: all 0.3s ease;
}

/* Кнопка "Добавить фильм" с hover-эффектом */
.btn-add:hover {
  background: var(--btn-primary-hover);
  opacity: 0.7;
}

/* Карточка фильма */
.movie-card {
  display: flex;
  flex-direction: column;
  background-color: var(--container-color);
  color: var(--text-main);
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  text-align: center;
  align-items: center;
  width: 220px;
  min-height: 400px;
  margin: 10px;
  padding: 10px;
}

/* Постер */
.poster {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}

/* Заголовок */
.movie-card h2 {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  color: var(--text-main);
  margin: 10px 0;
  white-space: pre-line; /* учитывает переносы */
}

/* Текстовые поля */
.movie-card p {
  font-family: "Montserrat", sans-serif;
  color: var(--text-main);
  margin: 5px 0;
}

/* Чекбокс и подпись */
.movie-card label {
  display: block;
  margin: 10px 0;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: var(--text-main);
  cursor: pointer;
}

/* Кнопки "Отметка о просмотре" и "Удалить фильм" */
.btn-watch, .btn-delete {
  margin: 5px;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-watch {
  background: var(--btn-watch);
  color: var(--text-main);
  transition: all 0.3s ease; /* плавный переход */
}

.btn-delete {
  background: var(--btn-delete);
  color: var(--text-main);
  transition: all 0.3s ease;
}

/* css-класс на обработчик чекбокса */
.highlight {
  border: 5px solid var(--checkbox-highlight);
  transition: all 0.3s ease;
}

/* hover эффекты для кнопок */
/* Кнопка "Отметка о просмотре" */
.btn-watch:hover {
  background: var(--btn-watch-hover);
  opacity: 0.7;
}

/* Кнопка "Удалить фильм" */
.btn-delete:hover {
  background: var(--btn-delete-hover);
  opacity: 0.7;
}